<div class="container-fluid">
    <div class="register-successfully-content w1200">
      <div class="register-successfully-content-box">
        <div>
          <h3>注册iSee账号</h3>
          <hr>
        </div>
        <div >
          <img src="../../../assets/images/完成注册.png" alt="">
          <div>
              <p>恭喜您，您的iSee账号:</p>
              <p><span class="buleColor">{{phone}}</span> &nbsp; <span>已注册成功!</span></p>
          </div>
        </div>
        <button class="mainColor">前往iSee</button>
      </div>
    </div>
  </div>
