.container-fluid
{
  max-width: 1920px;
  background-color: #f0f0f0;
}
.container-fluid .reset-password-content{
  background-color: #fff;
  height: 468px;
  text-align: left;
}
.container-fluid .reset-password-content .form-box span{
  color: red;
  padding-left: 8px;
}
.container-fluid .reset-password-content .reset-password-content-box{
  padding: 43px 146px 0 146px;
}
.container-fluid .reset-password-content .reset-password-content-box .form-control{
  width: 50%;
  border-radius: 0;
}
.container-fluid .reset-password-content .reset-password-content-box .finishBtn{
  width: 228px;
  height: 40px;
  border: 0;
  color: #fff;
  font-size: 18px;
}











